/*--- Master ---*/

html{
    position: relative;
    min-height: 100%;

}

body {
	background-color: black;
	color: white;
	font-family: 'Lucida Console';
}

img, iframe {
    display: block;
    margin: 0 auto;
}

header {
	margin: 0 auto;
	width: 50%;
}

header img{
	width: 100%;
}

main, nav {
    outline: 3px solid white;
    padding: 5px 20px;
}

main {
	margin: 10px 10% 50px;
}

nav {
    margin: 10px 40% 20px;
    text-align: center;
}

nav a{
	padding: 5px 10px;
}

nav a, nav a:visited{
	color: white;
	text-decoration: none;
}

nav a:hover{
	color: black;
	background-color: white;
}

footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*--- Forms ---*/

.label_textbox{
    display: inline-block;
    width: 275px;
    text-align: right;
}

.textbox, select{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.textbox {
    width: 200px;
}

.label_radio{
    margin-left: 10px;
}

.radio{
    margin: 0px 0px 0px 35px;
}

.radio, .radio td{
    border: none;
    text-align: left;
}

.button{
    width: 100px;
    margin-left: 10px;
    margin-bottom: 5px;
}

/*--- Tables ---*/

table, th, td{
    border: 2px solid white;
    padding: 5px;
}

table{
    margin: 10px 0px;
}

td{
    text-align: center;
}